.ac_results {
    padding: 0px;
    overflow: hidden;
    z-index: 99999;
    border:1px solid #d1d1d1;
    background:#fff;
    -moz-border-radius:0 0 3px 3px; /* FF1+ */
    -webkit-border-radius:0 0 3px 3px; /* Saf3+, Chrome */
    -o-border-radius:0 0 3px 3px;
    -icab-border-radius:0 0 3px 3px;
    -khtml-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px; /* Opera 7.7, IE 9 */
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 7px;
    cursor: default;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;font: menu;*/

    font-size: 14px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
    text-align:left;
    color:#333a3f;
}

.ac_loading {
    background: white url('../images/spinner.gif') right center no-repeat;
}

li.ac_odd {
    background-color:transparent;
}

li.ac_over {
    background-color: #df4a21;
    color: #fff;
}
.ac_results li strong { color:#3a5c83;}
.ac_results li.ac_over strong { color:#fff;}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
    background: #f6f6f6 url("jquery-ui/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #1c94c4;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none !important;
    background: #df4a21 !important;
    /*background: #df4a21 url("jquery-ui/ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;*/
    font-weight: bold;
    color: white;
}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
    color: white;
    text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none !important;
    background: #df4a21
    /*background: #df4a21 url("jquery-ui/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;*/
    font-weight: bold;
    color: white;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: white;
    text-decoration: none;
}

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -khtml-border-top-right-radius: 0; border-top-right-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -khtml-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -khtml-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }



